:root {
  --background: #ffffff;
  --bg-secondary: #F6F6F6;
  --bg-tertiary: #878787;
  --foreground: #434343;
  --primary: #59A0A8;
  --primary-hover: #488389;
  --sm-gap: .5rem;
  --default-gap: 1rem;
  --lg-gap: 1.5rem;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.text-xs {
  font-size: 12px;
}

.text-sm {
  font-size: 14px;
}

.text-normal {
  font-size: 16px;
}

.text-lg {
  font-size: 20px;
}

.text-xl {
  font-size: 24px;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.gap-normal {
  gap: var(--default-gap);
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.footer {
  font-size: 12px;
  text-align: center;
  color: var(--bg-tertiary);
}

button {
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  border: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-1 {
  flex: 1 1 0;
}

.vertical-divider {
  width: 2px;
  height: auto;
  align-self: stretch;
  background: var(--bg-secondary);
}

.horizontal-divider {
  height: 2px;
  width: auto;
  align-self: stretch;
  background: var(--bg-secondary);
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.w-full {
  width: 100%;
}

.max-w-full {
  max-width: 100%;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

/* Tablet */
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

/* Small Tablet */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

/* Smartphone */
@media (max-width: 576px) {
  .container {
    padding: 0 8px;
  }
}

.text-through{
  text-decoration: line-through;
  color: var(--bg-tertiary);
}

.slick-thumb li {
  height: 60px !important;
  width: 60px !important;
}

.slick-dots {
  bottom: -70px !important;
}

.slick-dots.slick-thumb {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-dots.slick-thumb .slick-active {
  border: 2px solid var(--primary);
}