.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content {
  display: flex;
  gap: 24px;
  width: 100%;
}

.contentList {
  display: grid;
  gap: 60px 16px;
  grid-template-columns: repeat(3, 1fr);
}