.btnCollapsible {
    border-radius: 999px;
    width: 100%;
    padding: 5px 24px;
    background: var(--bg-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    overflow: hidden;
    transition: height 0.3s ease;
}

.menu > div {
    padding: 12px 24px;
}