
.slider {
    position: relative;
    overflow: hidden;
    border-radius: 32px;
    height: auto;
    aspect-ratio: 458 / 137;
}

.bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.contentSlider {
    display: flex;
    gap: 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-inline: 8rem;
}

.contentSlider div {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contentSlider div h1 {
    font-weight: 600;
}

.sliderContainer { min-height: 0; min-width: 0; padding: 20px; width: 500px; }

.sliderItem {
    width: 500px;
    height: 300px;
}

.sliderItem img {
    width: 500px;
    height: 300px;
    object-fit: contain;
}
@media (max-width: 576px) {
    .sliderContainer {
        width: 100%;
        margin-bottom: 5rem;
    }

    .sliderItem img {
        width: 100%;
    }
}